.rush {
  img {
    transform: rotateY(180deg);
  }
}

.contact__main {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(5px + 1vh) 0;
}

.container {
  min-width: 300px; 

  .form__disclaimer {
    font-family: $font__second;
    margin-top: calc(2px + 0.5vh); 
    text-align: center; 
    p {
      margin-bottom: 5px !important;
    }

    span {
      font-size: 28px; 
    }

    ul {
      border-top: $tool; 
      width: max(60%, 280px);
      display: flex;
      margin-inline: auto; 
      align-items: center;
      justify-content: center;
      flex-direction: column;

      li {
        font-size: clamp(12px, 3vw - 10px, 16px);
      }
    }
  }

  .notification {
    background-color: $white__background;
    font-family: $font__second;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline; 
    text-decoration-color: $purple__shade__text;
    text-decoration-thickness: 2px; 
    border: 1px solid #ccc;
    display: none; /* Initially hidden */
    position: fixed;
    top: 11.5vh;
    left: calc(50% - 7.8125rem);
    z-index: 9999;
    width: 15.625rem; 
    text-align: center;
  }



  max-width: 650px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  h1 {
    color: $black__main__text;
    text-align: center;
    font-family: $font__first;
  }

  .form-group {
    .form-row {
      // outline: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 17.5px 0;

      > * {
        width: 290px;
        text-align: center;
        font-family: $font__second;
      }

      .col {
        input {
          &:focus {
            box-shadow: 0 0 0 0.2rem $purple__shade__text;
          }
        }
      }
    }
  }

  .form-group-last {
    font-family: $font__second;
    margin-bottom: 10px;
    // outline: 3px solid red;
    // max-width: 290px;
    // margin-inline: auto;

    textarea {
      max-height: 20vh;
      resize: none;
      overflow-y: auto;

      &:focus {
        box-shadow: 0 0 0 0.2rem $purple__shade__text;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    button {
      font-family: $font__second;
      margin-inline: auto;
      width: $button__Width;
      height: $button__Height;
      font-size: 22px;
      padding: 0;
      background: $black__main__text;

      &:hover {
        background-color: $purple__shade__text;
      }
    }
  }
}
